In [12]:
import pandas as pd
import requests
from datetime import datetime

In [6]:
url = "https://api.openf1.org/v1/meetings"

response = requests.get(url)

if response.status_code == 200:
    meetings_df = pd.DataFrame(response.json())
    print("Successfully fetched data:")
else:
    print(f"Failed to fetch data. Status code: {response.status_code}")
    print(f"Response: {response.text}")

Successfully fetched data:

In [14]:
meetings_df.head()

,meeting_name,meeting_official_name,location,country_key,country_code,country_name,circuit_key,circuit_short_name,date_start,gmt_offset,meeting_key,year,meeting_code
0,Pre-Season Testing,FORMULA 1 ARAMCO PRE-SEASON TESTING 2023,Sakhir,36,BRN,Bahrain,63,Sakhir,2023-02-23 07:00:00+00:00,03:00:00,1140,2023,NaN
1,Bahrain Grand Prix,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023,Sakhir,36,BRN,Bahrain,63,Sakhir,2023-03-03 11:30:00+00:00,03:00:00,1141,2023,NaN
2,Saudi Arabian Grand Prix,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2023,Jeddah,153,KSA,Saudi Arabia,149,Jeddah,2023-03-17 13:30:00+00:00,03:00:00,1142,2023,NaN
3,Australian Grand Prix,FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023,Melbourne,5,AUS,Australia,10,Melbourne,2023-03-31 01:30:00+00:00,11:00:00,1143,2023,NaN
4,Azerbaijan Grand Prix,FORMULA 1 AZERBAIJAN GRAND PRIX 2023,Baku,30,AZE,Azerbaijan,144,Baku,2023-04-28 09:30:00+00:00,04:00:00,1207,2023,NaN

In [15]:
meetings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   meeting_name           37 non-null     object
 1   meeting_official_name  37 non-null     object
 2   location               37 non-null     object
 3   country_key            37 non-null     int64
 4   country_code           37 non-null     object
 5   country_name           37 non-null     object
 6   circuit_key            37 non-null     int64
 7   circuit_short_name     37 non-null     object
 8   date_start             37 non-null     datetime64[ns, UTC]
 9   gmt_offset             37 non-null     object
 10  meeting_key            37 non-null     int64
 11  year                   37 non-null     int64
 12  meeting_code           15 non-null     object
dtypes: datetime64[ns, UTC](1), int64(4), object(8)
memory usage: 3.9+ KB

In [13]:
meetings_df['date_start'] = pd.to_datetime(meetings_df['date_start'])

In [18]:
meetings_df.to_csv(r"tests_data\meetings_data.csv", index=False)