In [4]:
import pandas as pd
import requests
from datetime import datetime

def fetch_meetings_data(country: str, year: int):
    url = f"https://api.openf1.org/v1/sessions?country_name={country}&year={year}"
    try:
        response = requests.get(url)
        response.raise_for_status()  # Raises an HTTPError for bad responses
        df = pd.DataFrame(response.json())
        print("Successfully fetched data")
        return df
    except requests.RequestException as e:
        print(f"Failed to fetch data. Error: {e}")
        return pd.DataFrame()

In [5]:
df = fetch_meetings_data("Belgium",2024)
df

Successfully fetched data

,session_key,session_name,date_start,date_end,gmt_offset,session_type,meeting_key,location,country_key,country_code,country_name,circuit_key,circuit_short_name,year
0,9567,Practice 1,2024-07-26T11:30:00+00:00,2024-07-26T12:30:00+00:00,02:00:00,Practice,1242,Spa-Francorchamps,16,BEL,Belgium,7,Spa-Francorchamps,2024
1,9568,Practice 2,2024-07-26T15:00:00+00:00,2024-07-26T16:00:00+00:00,02:00:00,Practice,1242,Spa-Francorchamps,16,BEL,Belgium,7,Spa-Francorchamps,2024
2,9569,Practice 3,2024-07-27T10:30:00+00:00,2024-07-27T11:30:00+00:00,02:00:00,Practice,1242,Spa-Francorchamps,16,BEL,Belgium,7,Spa-Francorchamps,2024
3,9570,Qualifying,2024-07-27T14:00:00+00:00,2024-07-27T15:00:00+00:00,02:00:00,Qualifying,1242,Spa-Francorchamps,16,BEL,Belgium,7,Spa-Francorchamps,2024
4,9574,Race,2024-07-28T13:00:00+00:00,2024-07-28T15:00:00+00:00,02:00:00,Race,1242,Spa-Francorchamps,16,BEL,Belgium,7,Spa-Francorchamps,2024

In [6]:
df = df[['session_key','session_name']]
df

   session_key session_name
0         9567   Practice 1
1         9568   Practice 2
2         9569   Practice 3
3         9570   Qualifying
4         9574         Race