In [1]:
import requests
import pandas as pd

In [2]:
def fetch_weather_data(meeting_key: int):
    url = f"https://api.openf1.org/v1/weather?meeting_key={meeting_key}"

    response = requests.get(url)

    if response.status_code == 200:
        df = pd.DataFrame(response.json())
        df['date'] = pd.to_datetime(df['date'])

        print("Successfully fetched data")
        return df
    else:
        print(f"Failed to fetch data. Status code: {response.status_code}")
        print(f"Response: {response.text}")

In [3]:
def get_meeting_name(meeting_key: int):
    url = f"https://api.openf1.org/v1/meetings?meeting_key={meeting_key}"

    response = requests.get(url)

    if response.status_code == 200:
        df = pd.DataFrame(response.json())
        df = df[['meeting_key','circuit_short_name','meeting_name']]

        print("Successfully fetched data")
        return df
    else:
        print(f"Failed to fetch data. Status code: {response.status_code}")
        print(f"Response: {response.text}")

In [4]:
meeting_df = get_meeting_name(1242)

Successfully fetched data

In [5]:
meeting_df.head()

   meeting_key circuit_short_name        meeting_name
0         1242  Spa-Francorchamps  Belgian Grand Prix

In [6]:
weather_df = fetch_weather_data(1242)

Successfully fetched data

In [7]:
weather_df.head()

,meeting_key,session_key,date,air_temperature,humidity,pressure,rainfall,track_temperature,wind_direction,wind_speed
0,1242,9567,2024-07-26 11:15:44.675000+00:00,21.4,62.0,964.6,0,35.7,285,0.6
1,1242,9567,2024-07-26 11:16:44.685000+00:00,21.4,62.0,964.6,0,35.2,178,0.8
2,1242,9567,2024-07-26 11:17:44.696000+00:00,21.4,63.0,964.6,0,35.7,206,1.6
3,1242,9567,2024-07-26 11:18:44.706000+00:00,21.4,64.0,964.7,0,36.0,181,2.4
4,1242,9567,2024-07-26 11:19:44.708000+00:00,21.5,63.0,964.6,0,36.9,71,1.1

In [8]:
df = pd.merge(weather_df, meeting_df, on='meeting_key')

In [9]:
df.to_csv("tests_data/weather.csv")